.test-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #eeeeee;
}

.countdown-timer {
  text-align: center;
  font-size: 30px;
  text-align: center;
  font-family: "Press Start 2P";
  padding-top: 20px;
  padding-bottom: 10px;
}
