.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  height: 40vh;
  background-color: #eeeeee;
  color: black;
  align-items: center;
}

.results-header {
  font-family: "Press Start 2P";
  font-size: 20px;
  padding-bottom: 20px;
}

.results {
  font-family: "Lato";
  letter-spacing: 1px;
}

.retry-button {
  padding: 10px;
  background-color: #222336;
  color: #eeeeee;
  width: 100px;
  margin: 20px;
  text-align: center;
}

.retry-button:hover {
  cursor: pointer;
  background-color: #222336cd;
}
